.bage {
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
  color: #7859CF;
  text-transform: uppercase;
  display: block;
}
