.catalog {
  background: #F8F8F8;
}

.catalog__wrapper {
  padding-top: 50px;
  padding-bottom: 44px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.catalog__bage {
  margin-bottom: 4px;

  @media (min-width: $desktop-width) {
    grid-column: 1 / 5;
  }
}

.catalog__title {
  color: #333333;
text-align: center;
font-family: "Montserrat", "Arial", sans-serif;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px;
margin: 0;
margin-bottom: 20px;

@media (min-width: $tablet-width) {
  font-size: 42px;
  line-height: 64px;
}

@media (min-width: $desktop-width) {
  grid-column: 1 / 5;
}
}

.catalog__container {
  @media (min-width: $desktop-width) {
  display: flex;
}
}

.catalog__form {
  @media (min-width: $tablet-width) {
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    width: 318px;
    margin-right: 30px;
  }
}

.catalog__select-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;

  @media(min-width: $tablet-width) {
    justify-content: end;
    margin-bottom: 26px;
  }
}

.catalog__list {
  margin-bottom: 40px;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 349px 349px;
    gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 317px 317px 317px;
    margin-bottom: 60px;
  }
}

.catalog__item {
  margin-bottom: 20px;

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
  }
}


