.copyright__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #BDBDBD;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  gap: 4px;

  &:hover,
  &:focus {
    color: #7859CF;
  }

  &:active {
    background-color: #593CAC;
  }
}

.copyright__text {
  margin: 0;
}

.copyright__icon {
  display: flex;
  width: 12px;
  height: 16px;
  align-items: center;
  justify-content: center;
  mask-image: url("/images/icons/stack.svg#copyright");
  mask-repeat: no-repeat;
  mask-size: 12px 16px;
  mask-position: center;
  background-color: #BDBDBD;
}

.copyright__link:hover .copyright__icon,
.copyright__link:focus .copyright__icon {
  background-color: #7859CF;
}

.copyright__link:active .copyright__icon {
  background-color: #593CAC;
}
