.features {
  padding-top: 50px;
  padding-bottom: 28px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media(min-width: $desktop-width) {
    padding-top: 0;
  }
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features__bage {
  @media (min-width: $tablet-width) {
    margin-bottom: 4px;
  }
}

.features__title {
  color: #333333;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  max-width: 100%;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    text-align: center;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 80px;
  }
}

.features__list {
  @media (min-width: $tablet-width) {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  row-gap: 50px;
}
  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.features__item {
  @media(min-width: $tablet-width) {
    padding-left: 72px;
    position: relative;
  }

  @media(min-width: $desktop-width) {
    padding-left: 0;
  }
}

.features__description-title {
  color: #333333;
  text-align: center;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 36px;
    text-align: start;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__description {
  color: #333333;
text-align: center;
font-family: "Montserrat", "Arial", sans-serif;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin: 0;
margin-bottom: 32px;

  @media(min-width: $tablet-width) {
    margin-bottom: 0;
    grid-column: 2 / 3;
    font-size: 16px;
    line-height: 24px;
    text-align: start;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}

.features__image {
  display: block;
  margin: 0 auto;
  width: 52px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 10px;

  &--speed {
    background-image: url("/images/speed.svg");
  }

  &--comfort {
    background-image: url("/images/comfort.svg");
  }

  &--energy {
    background-image: url("/images/energy.svg");
  }

  &--eco {
    background-image: url("/images/eco.svg");
  }

  @media (min-width:$tablet-width) {
    position: absolute;
    left: 0;
    top: 0;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
 }
