.footer-nav {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.footer-nav__wrapper {
  position: relative;
  padding: 20px;
  border-bottom: 1px solid #F0EBFF;

  @media (min-width: $tablet-width) {
    border: none;
    padding: 0;
    padding-top: 10px;
    width: 222px;
  }
}

// .footer-nav__wrapper::after {
//   position: absolute;
//   content: "";
//   width: 320px;
//   height: 1px;
//   background-color: #F0EBFF;
//   // translate: -50%;
// }

.footer-nav__title {
  color: #7859CF;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.28px;
  margin: 0;
  margin-bottom: 12px;
}

.footer-nav__item {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-nav__link {
  color: #333333;
  font-size: 12px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.24px;
}

.footer-nav__contacts {
  position: relative;
  margin-left: 19px;
  display: block;
  color: #333333;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer-nav__contacts::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 16px;
  top: 2px;
  left: -19px;
  background-repeat: no-repeat;
  background-size: 13px 16px;
  background-position: center;
}

.footer-nav__contacts--adress::before {
  background-image: url("/images/icons/stack.svg#address");
}

.footer-nav__contacts--tel::before {
  background-image: url("/images/icons/stack.svg#phone");
}
