.header {
  background-color: tomato;
  color: #ffffff;
  padding: 10px 15px;
}

.header a {
  font-family: "Montserrat", "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}
