.hero-slider {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  width: 100%;
  background-color: #F3EBE1;
  padding-top: 20px;
  padding-bottom: 60px;
  // overflow: hidden;

}

.hero-slider__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 280px;
}

.hero-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  order: 1;
}

.hero-slider__bage {
  margin-top: 10px;
  margin-bottom: 4px;
}

.hero-slider__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;
}

.hero-slider__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}

.hero-slider__old-price {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #7859CF;
  margin-right: 6px;
}

.hero-slider__price {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.hero-slider__link {
  margin-left: auto;
}

.hero-slider__button {
  position: absolute;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 0;
  width: 20px;
  font-size: 24px;
  color:#7859CF;
  padding: 0;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: scale(-1, 1);
  }

  &:hover,
  &:focus {
    background: linear-gradient(to right, #ffffff, transparent)
  }
}

.hero-slider__button::before {
  position: absolute;
  content: "";
  top: 49%;
  left: 4px;
  width: 11px;
  height: 20px;
  background-image: url("/images/icons/stack.svg#arrow-prev");
  background-size: 11px 20px;
  background-repeat: no-repeat;
  background-position: center;
}


