.hero-slider {
  min-width: 320px;
  width: 100%;
  background-color: #F3EBE1;
  padding: 0;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
    padding: 0;
    min-height: 640px;
    margin-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
    margin-bottom: 100px;
  }

}

.hero-slider__wrap {
  display: flex;
  position: relative;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    min-height: 640px;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    min-height: 714px;
  }
}

.hero-slider__info {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
  padding-top: 20px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 30px;
    flex-direction: row;
    align-items: center;
    padding-bottom: 84px;
  }
}

.hero-slider__title {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 36px;
  line-height: 48px;
  color: #333333;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    width: 608px;
    margin-bottom: 16px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero-slider__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  order: 1;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 476px;
    height: 476px;
    margin: 0 auto;
    top: 352px;
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    position: static;
    width: 600px;
    height: 600px;
    transform: inherit;
    margin-left: 105px;
    margin-right: 30px;
  }
}

.hero-slider__bage {
  margin-top: 10px;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
  }
}

.hero-slider__description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #333333;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
    width: 608px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    margin: 0;
    margin-right: auto;
    margin-bottom: 40px;
  }
}

.hero-slider__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: 280px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0;
    width: 230px;
  }
}

.hero-slider__old-price {
  display: block;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: #7859CF;
  margin-right: 6px;
}

.hero-slider__price {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
  color: #333333;
  margin: 0;
}

.hero-slider__link {
  margin-left: auto;
}

.hero-slider__button {
  position: absolute;
  height: 100%;
  cursor: pointer;
  border: none;
  background-color: transparent;
  top: 0;
  width: 20px;
  font-size: 24px;
  color: #7859CF;
  padding: 0;

  &--prev {
    left: 0;
  }

  &--next {
    right: 0;
    transform: scale(-1, 1);
  }

  &:hover,
  &:focus {
    background: linear-gradient(to right, #ffffff, transparent)
  }

  &:active {
    background: linear-gradient(to right, rgba(120, 89, 207, 0.25), transparent)
  }

  @media (min-width: $tablet-width) {
    width: 80px;
  }
}

.hero-slider__button::before {
  position: absolute;
  content: "";
  top: 49%;
  left: 4px;
  width: 11px;
  height: 20px;
  background-image: url("/images/icons/stack.svg#arrow-prev");
  background-size: 11px 20px;
  background-repeat: no-repeat;
  background-position: center;

  @media (min-width: $tablet-width) {
    left: 34px;
  }
}
