.page__body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Monserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  margin: 0 auto;
  padding: 0;
  background-color: #ffffff;
  width: 100%;
}
