.social {
  border-bottom: 1px solid #F0EBFF;

  @media (min-width: $tablet-width) {
    border: none;
  }
}


.social__list {
  display: flex;
  margin-left: auto;

  @media (min-width: $tablet-width) {
    gap: 20px;
  }
}

.social__link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;

  &--vk {
    background-image: url("/images/icons/stack.svg#vk");
  }

  &--pinterest {
      background-image: url("/images/icons/stack.svg#pinterest");
      background-size: 22px 22px;
  }

  &--ok {
    background-image: url("/images/icons/stack.svg#ok");
  }
}

.social__logo {
  padding: 0;
}
